<a href="https://colab.research.google.com/github/zeruel91/PYTHON/blob/master/chipolet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 새 섹션

In [5]:
#토이 데이터 chipotle.tsv

import pandas as pd

#dataframe 형태로 불러오자

file_path = 'chipotle.tsv'
chipo = pd.read_csv(file_path, sep = '\t')

In [6]:
print(chipo.shape)
print("-"*20)
print(chipo.info())

(4622, 5)
--------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

In [7]:
chipo.head(10) #chipo 라는 dataframe 에서 순서대로 10개의 row데이터를
#order_id : 주문번호
#quantity : 수량
#....

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

In [8]:
print(chipo.describe())

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [9]:
print(len(chipo['order_id'].unique()))

1834

In [10]:
item_count = chipo['item_name'].value_counts()[:10]
for idx, (val, cnt) in enumerate(item_count.iteritems(),1):
  print("Top",idx,":", val,cnt)

Top 1 : Chicken Bowl 726
Top 2 : Chicken Burrito 553
Top 3 : Chips and Guacamole 479
Top 4 : Steak Burrito 368
Top 5 : Canned Soft Drink 301
Top 6 : Steak Bowl 211
Top 7 : Chips 211
Top 8 : Bottled Water 162
Top 9 : Chicken Soft Tacos 115
Top 10 : Chips and Fresh Tomato Salsa 110

In [11]:
order_count = chipo.groupby('item_name')['order_id'].count()
order_count[:10]

item_name
6 Pack Soft Drink         54
Barbacoa Bowl             66
Barbacoa Burrito          91
Barbacoa Crispy Tacos     11
Barbacoa Salad Bowl       10
Barbacoa Soft Tacos       25
Bottled Water            162
Bowl                       2
Burrito                    6
Canned Soda              104
Name: order_id, dtype: int64

In [14]:
chipo_salad = chipo[chipo['item_name']=="Veggie Salad Bowl"]
print(len(chipo_salad))
chipo_salad.head(5)

18

     order_id  ...  item_price
186        83  ...     $11.25
295       128  ...     $11.25
455       195  ...     $11.25
496       207  ...     $11.25
960       394  ...      $8.75

[5 rows x 5 columns]

In [ ]:
#"Chicken Bowl"을 2개이상 주문한 주문 횟수